llama-cpp-python
pyyaml
contextlib2
pydub
pyaudio
TTS
soundfile
sounddevice
requests
pillow
python-dotenv
newspaper3k
nltk
comtypes
pycaw
plyer
watchdog
apscheduler
GPUtil
humanize
tabulate
pywin32
openwakeword
sqlalchemy
sentence-transformers
aw-client
aw-core
beautifulsoup4
huggingface-hub
onnxruntime
openai-whisper
pydantic
rich


