spacy
llama-cpp-python
pyyaml
contextlib2
pydub
pyaudio
TTS
soundfile
sounddevice
requests
pillow
python-dotenv
newspaper3k
nltk
comtypes
pycaw
plyer
apscheduler
GPUtil
humanize
openwakeword
sqlalchemy
sentence-transformers
beautifulsoup4
huggingface-hub
onnxruntime
pydantic
rich
docstring-parser
chromadb

docstring_parser
transformers

scipy
spacy
python-dateutil
num2words
iso8601
pandas
pytz
numpy
lxml-html-clean

faster-whisper
icalendar