llama-cpp-python
pyyaml~=6.0.1
contextlib2
pydub
pyaudio~=0.2.14
TTS~=0.22.0
soundfile~=0.12.1
sounddevice~=0.4.5
requests~=2.31.0
pillow~=10.3.0
python-dotenv~=1.0.1
newspaper3k
nltk~=3.8.1
comtypes~=1.4.1
pycaw
plyer~=2.1.0
watchdog
apscheduler~=3.10.4
GPUtil~=1.4.0
humanize~=4.9.0
tabulate~=0.9.0
pywin32
openwakeword~=0.6.0
sqlalchemy
sentence-transformers
aw-client
aw-core
beautifulsoup4
huggingface-hub
onnxruntime
openai-whisper
pydantic~=2.7.0
rich~=13.7.1
docstring-parser
chromadb~=0.4.24

docstring_parser~=0.16
transformers~=4.39.3
numpy~=1.26.4
scipy~=1.13.0
spacy~=3.7.4
python-dateutil~=2.9.0.post0
num2words~=0.5.13
psutil~=5.9.8
iso8601~=1.1.0
pandas~=1.5.3
pytz
