<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Good Morning</title>
    </head>
    <body>
        <h1>Good Morning</h1>
        <p>Today is <?php echo date('l, F jS, Y'); ?>.</p>
        <p>The time is <?php echo date('h:i:s a'); ?>.</p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script>
            var socket = io('http://localhost:5000');
            socket.on
        </script>
        </body>